//********************* Default *********************//
.button-container-primary {
  padding: 10px 20px 10px 20px;
  background-color: $color_primary;
  margin-right: 10px;
  border-radius: 7px;
}
.button-container-secondary {
  padding: 10px 20px 10px 20px;
  background-color: $color_primary;
  border-radius: 7px;
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
