//********************* Default *********************//
.classes{
  max-height: 500px;
  overflow-y: auto;
}
.class{
  margin: 10px auto;
  width: 90%;
  height: 75px;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  flex-flow: row nowrap;
  &-title{
    font-size: 30px;
    margin: auto;
  }
  &-button{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }
}
.notenrolled{
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
}

//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
