$color_primary: #681a2b;
$color_secondary: #ee954a;
$color_primary_background: #c0d6e2;
$color_secondary_background: rgba(110, 110, 110, 0.6);
//$color_primary_text: #e4cf9f;
$color_primary_text: #ece9e4;
$color_secondary_text: #303030;
$color_spare: #705845;
$color_white: #ffffff;
