//********************* Default *********************//
.eventDescription-content-solo, .eventDescription, .eventDescription-content-none{
  background-image: url("../assets/placeholders/tlo.png");
  background-size: cover;
  background-position: center;
  height: 100%;
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {

  .eventDescription-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100% - 70px);
    &-close {
      position: absolute;
      top: 0;
      right: 10px;
      max-width: 50px;
      max-height: 50px;
      padding-top: 10px;
    }
    &-title  {
      width: 100%;
      height: 70px;
      border-bottom: 1px solid $color_primary_text;
      text-align: center;
      font-size: 50px;
      p {
        margin: 0;
      }

    }
    &-description {
      width: 55%;
      border-right: 1px solid $color_primary_text;
      &-picture {
        height: 390px;
        border-bottom: 1px solid $color_primary_text;
      }
      &-place {
        color: $color_primary_text;
        position: absolute;
        bottom: 37%;
        right: 49%;
        width: 150px;
        padding: 5px;
        border-radius: 10px;
        margin: 0;
        background-color: $color_secondary_background;
      }
      &-info{
        padding: 7px;
      }
    }

    &-solo{
      height: 100%;
      &-title{
        height: 70px;
        text-align: center;
        font-size: 50px;
        p {
          margin: 0;
        }
      }
      &-description{
        display: flex;
        flex-flow: row nowrap;
        height: calc(100% - 70px);
        padding-bottom: 8px;
      }

    }
    &-none{
      height: 100%;
      &-title{
        height: 70px;
        text-align: center;
        font-size: 50px;
        p {
          margin: 0;
        }

      }
      &-description{
        height: calc(100% - 70px);
        padding-bottom: 8px;
        &-place {
          position: absolute;
          bottom: 10%;
          right: 8%;
          width: 175px;
          margin: 0;
          background-color: $color_secondary_background;
          padding: 5px;
          border-radius: 10px;
        }
        &-desc{
          position: absolute;
          bottom: 10%;
          left: 8%;
          background-color: $color_secondary_background;
          padding: 5px;
          border-radius: 10px;
        }
      }
      &-picture{
        position: inherit;
        width: 100%;
        height: 100%
      }
    }
    &-register {
      width: 45%;
      &-required {
        height: 150px;
        border-bottom: 1px solid $color_primary_text;
        font-size: $font_size_l;
        h3{
          text-align: center;
        }
      }
      &-team-title,
      &-newteam-title,
      &-solo-title {
        height: 50px;
        border-bottom: 1px solid $color_primary_text;
        text-align: center;
        font-size: 30px;
        padding: 5px;
      }
      &-team-content,
      &-newteam-content,
      &-solo-content {
        border-bottom: 1px solid $color_primary_text;
        padding: 10px;
        overflow-y: auto;
        text-align: center;
        max-height: 200px;
      }
    }
  }
  .ClassDesc-content{
    height: 100%;
    margin: 0 8px 8px 8px;
    flex: 1;
    &-person{
      position: relative;
      color: $color_primary_text;
      height: 160px;
      overflow-y: scroll;
      padding: 5px;
      &-picture{
        max-width: 100%;
      }
    }
  }

}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {

  .eventDescription-content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    &-close {
      position: absolute;
      top: 0;
      left: 5px;
      max-width: 40px;
      max-height: 40px;
      padding-top: 0;
    }
    &-title  {
      height: 40px;
      border-bottom: 1px solid $color_primary_text;
      text-align: center;
      font-size: 30px;
      p {
        margin: 0;
      }
    }
    &-description {
      width: 100%;
      margin-bottom: 10px;
      &-title  {
        height: 40px;
        border-bottom: 1px solid $color_primary_text;
        text-align: center;
        font-size: 30px;
        p {
          margin: 0;
        }
      }
      &-place {
        color: $color_primary_text;
        position: absolute;
        bottom: 10%;
        right: 7%;
        margin: 0;
        text-align: right;
        width: 150px;
        padding: 5px;
        border-radius: 10px;
        background-color: $color_secondary_background;
      }
      &-picture {
        height: 250px;
        border-bottom: 1px solid $color_primary_text;
        position: relative;
      }
      &-info{
        padding: 7px;
      }

    }
    &-solo{
      height: auto;
      &-title{
        height: 40px;
        text-align: center;
        font-size: 30px;
        p {
          margin: 0;
        }
      }
      &-description{
        display: flex;
        flex-flow: column nowrap;
        height: calc(100% - 70px);
        padding-bottom: 8px;
      }
    }

    &-none{
      height: 100%;
      width: 100%;
      margin: auto;
      padding: 5px;
      &-title{
        height: 40px;
        width: calc(100% - 10px);
        text-align: center;
        font-size: 30px;
        p {
          margin: 0;
        }
      }
      &-description{
        max-width: 100%;
        padding-bottom: 8px;
        &-place {
          padding: 10px;
          width: 175px;
          margin: 0;
        }
        &-desc{

          padding: 10px;
        }
      }
      &-picture{
        position: inherit;
        width: 100%;
        height: 100%
      }
    }

    &-register {
      width: 100%;

      &-required {
        height: 170px;
        border-bottom: 1px solid $color_primary_text;
        margin-bottom: 10px;
      }
      &-team-title,
      &-newteam-title,
      &-solo-title {
        height: 50px;
        border-bottom: 1px solid $color_primary_text;
        text-align: center;
        font-size: 30px;
      }
      &-team-content,
      &-newteam-content,
      &-solo-content {
        border-bottom: 1px solid $color_primary_text;
        padding: 5px;
        text-align: center;
      }
    }
  }
  .ClassDesc-content{
    margin: 8px auto;
    padding: 5px;
    height: 436px;
    position: relative;
    &-person{
      position: absolute;
      top: 5px;
      color: $color_primary_text;
      background-color: $color_secondary_background;
      padding: 7px;
      height: 436px;
      width: 327px;
      &-picture{
        max-width: 100%;
      }
    }
  }

}
//********************** Mobile *********************//
@include resTo($res_xs) {
}
