@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap");

$font_face_primary: "Lato", sans-serif;

$font_size_xs: 12px;
$font_size_s: 14px;
$font_size_m: 16px;
$font_size_l: 18px;
$font_size_xl: 24px;
$font_size_xxl: 36px;
