@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

$font_face_primary: 'Crimson Text';

$font_size_xs: 12px;
$font_size_s: 14px;
$font_size_m: 16px;
$font_size_l: 18px;
$font_size_xl: 28px;
$font_size_xxl: 36px;
$font_size_xxxl: 44px;
