@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

$font_face_primary: 'Lato', sans-serif;

$font_size_xs: 10px;
$font_size_s: 12px;
$font_size_m: 14px;
$font_size_l: 16px;
$font_size_xl: 20px;
$font_size_xxl: 24px;