//********************* Default *********************//
.register {
  &-content {
    padding: 16px;
    color: $color_secondary_text;
  }

  .shirt,
  .bus,
  .diet,
  .year {
    display: inline-block;
  }
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 5px 10px;
    margin: 3px 0 10px 0;
    display: inline-block;
    border: none;
    background: $color_white;
    font-family: "Crimson Pro";
    font-size: $font_size_l;
  }
  option {
    color: $color_primary;
    font-family: "Crimson Pro";
  }

  select {
    color: $color_primary;
    font-family: "Crimson Pro";
  }

  input[type="submit"] {
    margin-left: calc((100% - 124px) / 2);
    margin-top: 20px;
    font-size: $font_size_xl;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: "Crimson Pro";
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
  }
  input[type="checkbox"]:active,
  input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type="checkbox"]:checked {
    background-color: $color_primary_logo;
    border: 1px solid #adb8c0;
    color: #99a1a7;
  }
  input[type="checkbox"]:checked:after {
    content: "\2714";
    font-size: $font_size_xs;
    position: absolute;
    top: -2px;
    left: 1px;
    color: $color_primary;
  }

  select {
    width: 90px;
    margin: 0 11px 10px 7px;
  }
}

.ICE-content input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  margin: 5px 0 5px 0;
}
.required:after {
  content: "*";
  color: red;
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
  .register {
    select {
      width: 100px;
      height: 30px;
      margin: 0 20px 20px 7px;
      font-size: $font_size_m;
    }
    .shirt,
    .bus,
    .diet,
    .year {
      display: inline-block;
      //width: 400px;
    }
    input[type="checkbox"] {
      height: 20px;
      width: 20px;
      margin-top: 10px;
      margin-right: 10px;
    }
    label {
      display: block;
    }
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"] {
      height: 45px;
      font-size: $font_size_l;
    }
    .extra {
      font-size: $font_size_m;
    }
    input[type="checkbox"]:checked:after {
      font-size: $font_size_l;
      top: -3px;
      left: 3px;
    }
  }
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
