//********************* Default *********************//
.required:after {
  content: "*";
  color: red;
}
.register {
  &-content {
    padding: 16px;
    color: $color_secondary_text;
  }

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: $color_white;
  }
  select {
    margin: 0 11px 10px 7px;
  }
  input[type="submit"] {
    background-color: $color_white;
    width: 100px;
    height: 30px;
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-left: calc((100% - 100px) / 2);
    margin-top: 20px;
  }
  input[type="submit"]:hover {
    background-color: $color_spare;
  }
  input[type="checkbox"] {
    margin-bottom: 5px;
  }
  select {
    width: 100px;
  }
}

.extra {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 5px;
}
.ICE-content input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  margin: 5px 0 5px 0;
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
