//********************* Default *********************//
.player-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.player-content {
  width: unset !important;
  height: unset !important;
  object-fit: cover;
}

.player-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 2s ease-out;
}

.player-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 2s ease-out;
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
