//********************* Default *********************//
.promoted_event_description-container {
  position: absolute;
  height: 300px;
  width: 500px;
  left: 80px;
  top: 40%;
  transform: translate(0, -50%);
  font-size: $font_size_l;
  text-shadow: 1px 1px 1px #808080;
  transition: all 2s ease-out;
  h1 {
    font-size: $font_size_xxxl;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
  }
  p {
    margin-top: 0;
  }
  .promoted_event_description-buttons_container {
    display: flex;
    flex-flow: row nowrap;
  }

  .button-container-secondary {
    margin-left: 10px;
  }
}

//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
  .promoted_event_description-container {
    position: absolute;
    height: 300px;
    width: calc(100% - 20px);
    left:20px ;
    top:15% !important;
    transform: translate(0, -50%);
    font-size: $font_size_l;
    text-shadow: 1px 1px 1px #808080;
    transition: all 2s ease-out;
    h1 {
      font-size: $font_size_xxxl;
      font-weight: 400;
      line-height: 50px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0;
    }
    .promoted_event_description-buttons_container {
      display: flex;
      flex-flow: row nowrap;
    }

    .button-container-secondary {
      margin-left: 10px;
    }
  }
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
