//********************* Default *********************//
.promoted_event_description-container {
  position: absolute;
  height: 300px;
  width: 350px;
  left: 8%;
  top: calc(calc(100% - 300px) / 2);
  font-size: $font_size_l;
  text-shadow: 1px 2px #000000;
}
h1 {
  font-size: $font_size_xxl;
  font-weight: 400;
}
.promoted_event_description-container a {
  text-decoration: none;
}
.promoted_event_description-container a:link,
a:visited,
a:active {
  color: $color_primary_text;
}
.promoted_event_description-buttons_container {
  display: flex;
  flex-flow: row nowrap;
}

//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
