//********************* Default *********************//
.required:after {
  content: "*";
  color: red;
}
.register {
  &-content {
    text-align: center;
  }
  &-content p {
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: large;
  }
  &-content label {
    font-size: medium;
  }
  &-content input {
    margin-bottom: 20px;
  }
}
//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
