//********************* Default *********************//
.register {
  &-content {
    &-column {
      display: flex;
      flex-flow: row nowrap;
      &-primary {
        padding-right: 8px;
        width: 50%;
      }
      &-primary p {
        margin-top: 0;
      }
      &-secondary {
        padding-left: 8px;
        width: 50%;
      }
      &-secondary p {
        margin-top: 0;
      }
    }
  }
}
.title {
  text-align: center;
  margin-bottom: 8px;
  color: $color_secondary_text;
}

//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
