//********************* Default *********************//
.container {
  display: flex;
  height: 646px;
  width: 770px;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: flex-start;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}
.column {
  display: flex;
  height: 100%;
  width: 120px;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}
.cell {
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  box-shadow: 2px 0 0 0 #000, 0 2px 0 0 #000, 2px 2px 0 0 #000,
    /* Just to fix the corner */ 2px 0 0 0 #000 inset, 0 2px 0 0 #000 inset;
}
#time {
  width: 50px;
}

//******************* Large Tablet ******************//
@include resFrom($res_m) {
}

//********************* Desktop *********************//
@include resFrom($res_l) {
}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {
}

//********************** Tablet *********************//
@include resTo($res_m) {
}

//********************** Mobile *********************//
@include resTo($res_xs) {
}
