//********************* Default *********************//
table{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}
td,tr,th {
  border: 1px solid black;
  background-color: white;
  padding: 0;
  text-align: center;
}
.content{
  height: 200px;
  width: 200px;
}



//******************* Large Tablet ******************//
@include resFrom($res_m) {

}

//********************* Desktop *********************//
@include resFrom($res_l) {

}

//****************** Large Desktop ******************//
@include resFrom($res_xl) {

}

//********************** Tablet *********************//
@include resTo($res_m) {

}

//********************** Mobile *********************//
@include resTo($res_xs) {

}
